<html>
	<head>
		<script src="http://code.jquery.com/jquery-latest.min.js"type="text/javascript"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://toast-amber.codio.io/mtg-node/assets/css/index.css">
		<title>MTG Slack Intergration</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">MTG Slack Intergration</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					</ul>
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div id="loginBox" class="col-xs-4 col-centered">
					<div class="row">
						<nav class="navbar navbar-inverse col-centered">
							<div class="container-fluid">
								<div class="navbar-header">
									<a class="navbar-brand">Login</a>
								</div>
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
									</ul>
									<ul class="nav navbar-nav navbar-right">
									</ul>
								</div>
							</div>
						</nav>
					</div>
					<div class="row">
						<div class="col-xs-10 col-centered" id="loginBlock">
							<form>
								<input class="form-control" placeholder="Email">
								<input class="form-control" placeholder="Password">
								<button class="btn btn-primary form-control center-block">Login</button>
							</form>
							<form action="/register">
								<div class="row" id="regLink">
									<a><input type='submit' value="New, Register your slack today!"></a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>